/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2014, 04:05:43 PM
    Author     : Informática
*/

body {
    background: url(../imagenes/gradiente_fondo.jpg) top right fixed;
}

.modalVer {
    display:block !important;
    position:initial !important;
}

.mensajeError
{
    color:red;
    font-weight:bold;
}

.linea{
    padding-bottom: 20px;
    padding-left: 30px;
}

.banner {
    width: 100%;
}

.contenidoPrincipal {
    background: white;
    padding: 10px 10px;
    border-left: solid #C0C0C0 5px;
    border-right: solid #C0C0C0 5px;
    border-bottom: solid #C0C0C0 5px;
    border-radius: 8px;
    margin-top: -5px;
}

.labelGrande
{
    color:steelblue;
    font-size:18px;
}

.textbox {
    border: 1px solid #c4c4c4;
    height: 35px;
    width: 70%;
    font-size: 18px;
    padding: 4px 4px 4px 4px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .textbox:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }
