@{
    ViewBag.Title = "Página de Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title" style="color:steelblue;">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <h3 style="text-align:justify;">
                Este sistema contiene funcionalidades para el manejo de los activos de la facultad de derecho
                y también para el manejo de Ip´s y contraseñas.
            </h3>
            <br />
            <br />
            <br />
            <h5>Desarrollado por: Christopher Sánchez Coto</h5>
        </div>
    </section>
}
